doctype html
html
  head
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/validation.css')
  body
    .msg-wrapper.shadow
        .msg #{msg}
        .back-link
            a.btn(href='/') Go back