.menuprofile-pb
    .menuwrapper
        .top-bar
            h3.name Stock-Notes
            .searchbarWrapper
                input.form-control.searchbar(type="text" placeholder="search stocks, people or just random things")
                .suggestion-box.border
            a(href='/user-home').btn.btn-info.home Home
            .user-status.topbar-item
                span.unread_count 0
                img(src='/images/icons/png/notification.png')
            .chat-status.topbar-item
                span.unread_count 0
                img(src='/images/icons/png/chat.png')
        .drop-down-status-box.shadow
            ul